// --------
// input
// --------


// 350/38/#818A91/#CED4DA 輝 16/19
// 219/60/8d8d8d /#916000 棕 16/24
// 160/50/8d8d8d/#916000 宗 16/24


/*form */
$label-margin-bottom: 0;
$input-color:   #00000060;
$form-group-margin-bottom: 16px;
$label-margin-bottom: 4px;

$input-border-width: 1px;


// spacer
$input-padding-y-lg:($spacer * 2); // 16
$input-padding-x-lg:($spacer * 2); // 16

$input-focus-box-shadow: none;
$input-focus-bg:#edd3a3;
// $input-focus-box-shadow: inset 0px 0px 5px rgba($primary,0.3 );
$input-plaintext-color: #00000099;

// $input-padding-y-sm:    $input-btn-padding-y-sm !default;
// $input-padding-x-sm:    $input-btn-padding-x-sm !default;
// $input-font-size-sm:    $input-btn-font-size-sm !default;
// $input-line-height-sm:  $input-btn-line-height-sm !default;

$input-btn-padding-y-lg: 17px ;
$input-btn-padding-x-lg: 16px ;
$input-btn-font-size-lg: $font-size-base ;

$input-line-height-lg:  24px ;
$input-font-size-lg: 16px;

$input-bg:  $white !default;
$input-disabled-bg: $gray-200 !default;

// $input-color:   $gray-700 !default;
// $input-border-color:    $gray-400 !default;
// $input-border-width:    $input-btn-border-width !default;
// $input-box-shadow:  inset 0 1px 1px rgba($black, .075) !default;

$input-border-radius:   $border-radius ;
$input-border-radius-lg:    $border-radius-sm ;
$input-border-radius-sm:    $border-radius-sm ;

$input-focus-bg:            $input-bg ;
$input-focus-border-color:  $primary ;
// $input-focus-color:         $input-color !default;
// $input-focus-width:         $input-btn-focus-width !default;
// $input-focus-box-shadow:    $input-btn-focus-box-shadow !default;

$input-placeholder-color:   $gray-300 ;
$input-plaintext-color:     $body-color ;

$input-height:      add($input-line-height , add($input-padding-y, $input-height-border, false)) ;
$input-height-sm:   $input-line-height-sm ;
$input-height-lg:   add($input-line-height-lg , add($input-padding-y-lg * 1.875, $input-height-border, false));

.form{
  &-xl{
    padding: 24px 0px;
  }
  &-lg{
    padding: 24px;
    border-radius: 8px;
    position: relative;
    top: -40px;
    z-index:9;
    max-width: 920px;
    .input-group{
    max-width: 232px;
      @include media-max(md){
        max-width: 100%;
        width: 100%!important;
      }
    }
    .btn{
      @include media-max(md){
        width: 100%;
      }
    }
  }
  &-md{
    max-width: 540px;
    .btn{
      border-radius: 0;
    }
  }
}


// .form-control-sm {
//     height: $input-height-sm;
//     padding: $input-padding-y-sm $input-padding-x-sm;
//     @include font-size($input-font-size-sm);
//     line-height: $input-line-height-sm;
//     @include border-radius($input-border-radius-sm);
//   }
  
  .form-control-lg {
    height: $input-height-lg;
    padding: $input-padding-y-lg $input-padding-x-lg;
    font-size: $input-font-size-lg;
    line-height: $input-line-height-lg;
    border-radius: $border-radius-sm;
  }


.input-group-text {
    display: flex;
    align-items: center;
    padding: $input-padding-y $input-padding-x;
    margin-bottom: 0; // Allow use of <label> elements by overriding our default margin-bottom
    @include font-size($input-font-size); // Match inputs
    font-weight: $font-weight-normal;
    line-height: $input-line-height;
    color: $input-group-addon-color;
    text-align: center;
    white-space: nowrap;
    background-color: $input-group-addon-bg;
    border: $input-border-width solid $input-group-addon-border-color;
    @include border-radius($input-border-radius);
  
    // Nuke default margins from checkboxes and radios to vertically center within.
    input[type="radio"],
    input[type="checkbox"] {
      margin-top: 0;
    }
  }

  .input-group-lg > .form-control:not(textarea),
  .input-group-lg > .custom-select {
    height: $input-height-lg;
  }
  
  .input-group-lg > .form-control,
  .input-group-lg > .custom-select,
  .input-group-lg > .input-group-prepend > .input-group-text,
  .input-group-lg > .input-group-append > .input-group-text,
  .input-group-lg > .input-group-prepend > .btn,
  .input-group-lg > .input-group-append > .btn {
    padding: $input-padding-y-lg $input-padding-x-lg;
    font-size: $input-font-size-lg;
    line-height: $input-line-height-lg;
    @include border-radius($input-border-radius-lg);
    border: 0;
    background: $white;
  }

  // input 
  .input-group-sm > .form-control:not(textarea),
  .input-group-sm > .custom-select {
    height: $input-height-sm;
  }
  
  .input-group-sm > .form-control,
  .input-group-sm > .custom-select,
  .input-group-sm > .input-group-prepend > .input-group-text,
  .input-group-sm > .input-group-append > .input-group-text,
  .input-group-sm > .input-group-prepend > .btn,
  .input-group-sm > .input-group-append > .btn {
    padding: $input-padding-y-sm $input-padding-x-sm;
    @include font-size($input-font-size-sm);
    line-height: $input-line-height-sm;
    @include border-radius($input-border-radius-sm);
  }
  
  .input-group-lg > .custom-select,
  .input-group-sm > .custom-select {
    padding-right: $custom-select-padding-x + $custom-select-indicator-padding;
  }
  